body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  margin: 25px;
  overflow: hidden;
}

.container img {
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 35px;
}
.stats {
  text-align: center;
  padding: 15px;
}
.stats .statheadings {
  font-size: 25px;
  font-weight: bold;
}
.stats p {
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.75);
  letter-spacing: 0.2em;
}

.mainParagraph {
  text-align: center;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 0.75);
}

#accent {
  color: hsl(277, 64%, 61%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-end;
    overflow-wrap: break-word;
    padding: 50px;
    text-align: left;
  }

  .mainParagraph {
    text-align: left;
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .stats div {
    position: relative;
    right: 160px;
    top: 50px;
    align-self: center;
    line-height: 10px;
    padding: 50px 25px 25px 50px;
  }
}
